$font-family: (
  A: Arial,
);

$font-size: (
  XS: 13px,
  S: 18px,
  M: 20px,
  ML: 26px,
  L: 40px,
);

$line-height: (
  XS: 16px,
  S: 24px,
  M: 28px,
  ML: 36px,
  L: 45px,
);

$font-weight: (
  L: 300,
  R: 400,
  M: 500,
  SB: 600,
  B: 700,
);
