@import '../../styles/base/mixins';

.wrapper {
  width: 100%;
  margin: 0 auto;

  &-m {
    max-width: var(--container-width-m);
    padding-inline: var(--container-padding-inline-m);
  }

  &-l {
    max-width: var(--container-width-l);
    padding-inline: var(--container-padding-inline-l);
  }

  @include mobile {
    padding-inline: var(--container-padding-inline-mobile-m);
  }
}
